.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBar {
  padding: 8px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 250px;
  max-width: 100%;
}

.filter {
  padding: 8px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.sorting {
  padding: 8px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartIcon {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.9rem;
}

.cart {
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navLeft {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
  }

  .searchBar {
    width: 75vw;
  }

  .filter,
  .sorting {
    width: 80vw;
  }

  .navRight {
    width: 100%;
    justify-content: flex-start;
    margin-top: 15px;
  }

  .cartIcon {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 15px;
  }

  .navLeft {
    gap: 10px;
  }

  .searchBar {
    font-size: 0.9rem;
    width: 74vw;
  }

  .filter,
  .sorting {
    font-size: 0.9rem;
    width: 80vw;
  }

  .cartIcon {
    font-size: 1.5rem;
  }

  .navRight {
    width: 100%;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .cartCount {
    top: -3px;
    right: -3px;
  }
}
